.relative {
  position: relative;
}

button {
  outline: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}
