<div class="flex h-screen">
  <!-- Sidebar -->
  <app-sidebar [menuItems]="userMenu" [appName]="'ZenFit App'" [userName]="'Shaheer'" [userRole]="'Admin'"
    [isMobileOpen]="true" (menuItemClicked)="handleMenuClick($event)" (mobileToggle)="handleMobileToggle($event)"
    (logOutClicked)="logOutUser()"></app-sidebar>

  <!-- Main content -->
  <main class="flex-1 bg-gray-100 overflow-auto p-6">
    <nav class="bg-transparent sticky top-0 z-50">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-end items-center h-16">
          <div class="flex items-center notification-container">
            <zenfit-notification></zenfit-notification>
          </div>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </main>
</div>